<img src="https://img.freepik.com/premium-vector/international-courier-with-location-delivery_24911-59535.jpg" alt="">

<div class="footer-container">

    <div class="footer-parent">
      <div class="footer-child">
        <img routerLink="/web"
        class="logo"
        src="./assets/jop-logo.png"
        alt="logo"/>
     
        <p class="para" >
         Contact links
        </p>
        <div class="container1">
         
          <a href="" target="_blank"><img src="./assets/facebook.png"
            alt="" width="30px" height="30px" class="links-social" /></a>
        <a href="" alt="http://www.instagram.com" target="_blank"><img
            src="./assets/instagram.png" alt="facbook" width="30px" height="30px" class="links-social" /></a>
        <a href="" target="_blank"><img
            src="./assets/linkedin.png" alt="linkedin" width="30px" height="30px" class="links-social" /></a>
        <a href="" target="_blank"><img src="./assets/twitter.png" target="_blank"
            alt="twitter" width="30px" height="30px" class="links-social" /></a>
      <a href="" target="_blank"><img src="./assets/youtube.png" target="_blank"
            alt="twitter" width="30px" height="30px" class="links-social" /></a>
        </div>
      </div>
      <div class="footer-child">
        <h3 style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Important Links
        </h3>
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/about-us">Home</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/careers">
         Domestic</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/services">International</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " routerLink="/contact">Contact</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Let's have talk</a>
      </div>
      <div class="footer-child">
        <h3 style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Featured Service
        </h3>
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >UI/UX Design</a><br />
  
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          ">Web Development</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Mobile App Development</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Software Testing And QA</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Staff Agumentation</a><br />
        <a style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            cursor: pointer;
          " >Digital Marketing</a>
      </div>
      <div class="footer-child">
        <h3 style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Contact Us
        </h3>
        
        
     
      </div>
    
    <div class="footer-child">
        <h3 style="
            color: #424949;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
          ">
          Contact Us
        </h3>
        
          <pre style="
          color: #424949;font-size: 20px;

          font-family: 'Poppins', sans-serif;
          text-decoration: none;
        ">
  sri sainagargunakonda complex
  flat no:dh4 
  bandari layout nizampet
  Road no:4 500090</pre>
     
      </div>
  
  
  </div>
