<div class="parent">
<mat-card class="addon-card">
    <mat-card-header>
      <mat-card-title>Order Allocation Engine</mat-card-title>
      <mat-card-subtitle>set courier service for our preference</mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>
  <mat-card class="addon-card">
    <mat-card-header>
      <mat-card-title>Order Allocation Engine</mat-card-title>
      <mat-card-subtitle>set courier service for our preference</mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>
  <mat-card class="addon-card">
    <mat-card-header>
      <mat-card-title>Order Allocation Engine</mat-card-title>
      <mat-card-subtitle>set courier service for our preference</mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>
  <mat-card class="addon-card">
    <mat-card-header>
      <mat-card-title>Order Allocation Engine</mat-card-title>
      <mat-card-subtitle>set courier service for our preference</mat-card-subtitle>
    </mat-card-header>
  
  </mat-card><mat-card class="addon-card">
    <mat-card-header>
      <mat-card-title>Order Allocation Engine</mat-card-title>
      <mat-card-subtitle>set courier service for our preference</mat-card-subtitle>
    </mat-card-header>
  
  </mat-card>
</div>