
  
  .example-full-width {
    width: 300px;
  }
  .example-form{
  padding: 2%;
  }

 
  .register-child{
    width: 400px;
  
  }
  .register-parent{
    display: flex;
    flex-flow: wrap row ;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }