.grid-container {
    margin: 20px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .sidenav{
   width: 250px;
   z-index: 2;
   background-color: #fafafa;
   font-family: 'Poppins', sans-serif;
   color: white;
  }
  .nav{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
    width: 200px;
  }
